body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 800px;
    height: 100vh;
}

.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e4d92;
    color: white;
    padding: 20px;
    height: 70px;
}

div.content {
    flex-grow: 1;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menuBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0e4d92;
    color: white;
    height: 110px;
}

.menuBar-button {
    flex: 1;
    background-color: #0e4d92;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 15px;
    height: 110px;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBar-button:hover {
    background-color: #0c427a;
}


.login-button {
    background-color: #0e4d92;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 300px;
}

form input[type="text"], form input[type="password"] {
    border: 1px solid #ddd;
    padding: 10px;
    width: 90%;
    color: #333;
    margin-bottom: 10px;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #0e4d92;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

form input[type="submit"]:hover {
    background-color: #0c427a;
}

.styled-table {
    border: black solid 1px;
    margin: 20px auto;
    min-width: 700px;
    width: 90%;
}

.styled-table th, .styled-table td {
    border: black solid 1px;
    text-align: center;
    height: 5vh; /* Adjust this value according to your requirements */
}

.column-id {
    width: 100px;
}

.column-title {
    width: 270px;
}

.column-author {
    width: 100px;
}

.column-date {
    width: 100px;
}

.column-views {
    width: 80px;
}

.table-row a {
    color: #0e4d92;
    text-decoration: none;
}

.table-row a:hover {
    color: #0c427a;
}

table {
    width: 100%;
    border-collapse: collapse; /* 테이블의 경계선을 합치기 위해 사용됩니다. */
}

table th, table td {
    border: 1px solid black; /* 각 셀에 1픽셀 두께의 검은 선을 추가합니다. */
    padding: 10px; /* 셀 내용과 경계선 사이에 여백을 추가합니다. */
}

table th {
    background-color: #f2f2f2; /* 테이블 헤더에 배경색을 추가합니다. */
    text-align: left; /* 헤더 텍스트를 왼쪽으로 정렬합니다. */
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* 짝수 행에 배경색을 추가합니다. */
}

table tr:hover {
    background-color: #ddd; /* 마우스가 행 위에 있을 때 배경색을 변경합니다. */
}