<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>사망신고서</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>

<body>
<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
    </div>
    <div sec:authorize="hasAuthority('ROLE_GUEST')">
    </div>
</div>
<div style="width: 700px; border: black solid 1px; margin: 10px; padding: 20px">
    <h1>사망신고서</h1></br></br>
    <table style="width: 550px">
        <thead>
        <tr>
            <th style="width: 150px;">신고일</th>
            <th style="width: 350px;" th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일')}"></th>
        </tr>
        </thead>
    </table>
    </br>
    <h3>출생자</h3>
    <table>
        <tr>
            <td th:text="성명"></td>
            <td th:text="${deathResident.name}"></td>
        </tr>
        <tr>
            <td th:text="성별"></td>
            <td th:text="${deathResident.genderCode}"></td>
        </tr>
        <tr>
            <td th:text="사망일시"></td>
            <td th:text="${deathResident.formattedDeathDateTime}"></td>
        </tr>
        <tr>
            <td th:text="사망장소구분"></td>
            <td th:text="${deathResident.deathPlaceCode}"></td>
        </tr>
        <tr>
            <td th:text="사망장소주소"></td>
            <td th:text="${deathResident.deathPlaceAddress}"></td>
        </tr>
    </table>
    </br>
    <h3>신고인</h3>
    <table th:each="item, i: ${deathReportResident}">
        <tr>
            <td th:text="성명"></td>
            <td th:text="${item.birthDeathReportResidentName}"></td>
            <td th:text="주민등록번호"></td>
            <td th:text="${item.birthDeathReportResidentRegistrationNumber}"></td>
        </tr>
        <tr>
            <td th:text="자격"></td>
            <td colspan="3" th:text="${item.birthDeathReportResidentQualificationCode}"></td>
        </tr>
        <tr>
            <td th:text="전화번호"></td>
            <td th:text="${item.birthDeathReportResidentPhoneNumber}"></td>
            <td th:text="이메일"></td>
            <td th:text="${item.birthDeathReportResidentEmail}"></td>
        </tr>
    </table>
</div>
</body>
</html>
