<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>출생신고서</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>

<body>
<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
    </div>
    <div sec:authorize="hasAuthority('ROLE_GUEST')">
    </div>
</div>
<div style="width: 700px; border: black solid 1px; margin: 10px; padding: 20px">
    <h1>출생신고서</h1></br></br>
    <table style="width: 550px">
        <thead>
        <tr th:each="item, i: ${birthReportResident}">
            <th style="width: 150px;">신고일</th>
            <th style="width: 350px;" th:text="${item.FormattedDate}"></th>
        </tr>
        </thead>
    </table>
    </br>
    <h3>출생자</h3>
    <table>
        <tr>
            <td th:text="성명"></td>
            <td th:text="${birthResident.name}"></td>
        </tr>
        <tr>
            <td th:text="성별"></td>
            <td th:text="${birthResident.genderCode}"></td>
        </tr>
        <tr>
            <td th:text="출생일시"></td>
            <td th:text="${birthResident.formattedBirthDateTime}"></td>
        </tr>
        <tr>
            <td th:text="출생장소"></td>
            <td th:text="${birthResident.birthPlaceCode}"></td>
        </tr>
        <tr>
            <td th:text="등록기준지"></td>
            <td th:text="${birthResident.registrationBaseAddress}"></td>
        </tr>
    </table>
    </br>
    <h3>부모</h3>
    <table>
        <tr th:each="item, i: ${birthResidentParent}">
            <td th:text="${item.familyRelationshipCode}"></td>
            <td th:text="성명"></td>
            <td th:text="${item.familyResidentName}"></td>
            <td th:text="주민등록번호"></td>
            <td th:text="${item.familyResidentRegistrationNumber}"></td>
        </tr>
    </table>
    </br>
    <h3>신고인</h3>
    <table th:each="item, i: ${birthReportResident}">
        <tr>
            <td th:text="성명"></td>
            <td th:text="${item.birthDeathReportResidentName}"></td>
            <td th:text="주민등록번호"></td>
            <td th:text="${item.birthDeathReportResidentRegistrationNumber}"></td>
        </tr>
        <tr>
            <td th:text="자격"></td>
            <td colspan="3" th:text="${item.birthDeathReportResidentQualificationCode}"></td>
        </tr>
        <tr>
            <td th:text="전화번호"></td>
            <td th:text="${item.birthDeathReportResidentPhoneNumber}"></td>
            <td th:text="이메일"></td>
            <td th:text="${item.birthDeathReportResidentEmail}"></td>
        </tr>
    </table>
</div>
</body>
</html>
