<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>주민등록등본</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>

<body>
<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
    </div>
    <div sec:authorize="hasAuthority('ROLE_GUEST')">
    </div>
</div>
<div style="width: 700px; border: black solid 1px; margin: 10px; padding: 20px">
    <h1>주민등록등본</h1></br></br>
    <table style="width: 550px">
        <thead>
        <tr th:each="item, i: ${householdResident}">
            <th style="width: 170px;">세대주 성명</th>
            <th style="width: 200px;" th:text="${item.householdResidentName}" }></th>
            <th style="width: 200px;">세대구성 사유 및 일자</th>
            <th style="width: 200px;" th:text="${item.formattedReportDate} " }></th>
            <th style="width: 200px;" th:text="${item.householdResidentChangeReasonCode} " }></th>

        </tr>
        </thead>
    </table>
    </br>
    <table>
        <thead>
        <tr>
            <th style="width: 80px;">현주소</th>
            <th style="width: 200px;">주소</th>
            <th style="width: 80px;">신고일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, i: ${householdMovement}">
            <td th:text="${item.lastAddressYn}"></td>
            <td th:text="${item.houseMovementAddress}"></td>
            <td th:text="${item.formattedReportDate}"></td>
        </tr>
        </tbody>
    </table>
    </br></br>
    <table style="width: 550px">
        <thead>
        <tr>
            <th style="width: 150px;">세대원 구성</th>
        </tr>
        </thead>
    </table>
    </br>
    <table>
        <thead>
        <tr>
            <th style="width: 80px;">세대주 관계</th>
            <th style="width: 80px;">성명</th>
            <th style="width: 200px;">주민등록번호</th>
            <th style="width: 200px;">신고일</th>
            <th style="width: 70px;">변동사유</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, i: ${householdComposition}">
            <td th:text="${item.householdRelationshipCode}"></td>
            <td th:text="${item.householdCompositionName}"></td>
            <td th:text="${item.householdCompositionRegistrationNumber}"></td>
            <td th:text="${item.householdCompositionReportDate}"></td>
            <td th:text="${item.householdCompositionChangeReasonCode}"></td>
        </tr>
        </tbody>
    </table>
    </br></br>
    <h5>1. 본인이나 세대원은 전자민원에서 무료로 주민등록표를 열람하거나 등초본을 교부받을 수 있습니다.</h5>
    <h5>2. 전자문서로 교부하는 경우에는 한자를 생략하여 교부 할 수 있습니다.</h5>
    <h6 style="vertical-align: bottom">발행번호 : 0000-0000-0000-0000</h6>
</div>
</body>
</html>
