<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>

<body>
<div class="titleBar">
    <a class="login-button" href="/">메인화면</a>
    <h1>주민관리시스템</h1>
    <div sec:authorize="!isAuthenticated()">
        <a class="login-button" href="/login">로그인</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a class="login-button" href="/logout">로그아웃</a>
    </div>
</div>

<div class="content">
    <form method="post" action="/login-process">
        Username: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="일반 사용자 로그인"/>
    </form>
</div>

<div class="menuBar">
    <a class="menuBar-button" href="/family-relationship">가족관계증명서</a>
    <a class="menuBar-button" href="/resident-registration">주민등록등본</a>
    <a class="menuBar-button" href="/birth-register">출생신고서</a>
    <a class="menuBar-button" href="/death-register">사망신고서</a>
</div>

</body>
</html>
