h1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
h3 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
h5 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

th {
    border: black solid 1px;
    text-align: center;
    height: 50px
}
